- books.each do |book|
  .book
    %h2= book[:title]
    - results = book[:results]
    - unless results.empty?
      %p Found #{results.length} candidates with title search:
      %ul
        - results.each do |r|
          %li
            = r[:title]
            %p At locations:
            %ul
              - r[:locations].each do |branch, status|
                %li #{branch} : #{status}
