!!!
%html
  %head
    %title Literate Minuteman
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'}
    %script{:src => '/javascript/home.js'}
    %link{:href => '/style.css', :rel => 'stylesheet'}
  %body
    #wrap
      %h1 Literate Minuteman
      %select#locations
        %option Filter by branch...
        - locations.each do |loc|
          %option{:value => "/branch/#{loc.gsub(/\s*\/\s*/,'-').downcase}"}= loc
      - books.each do |book|
        .book
          %h2= book[:title]
          - results = book[:results]
          - unless results.empty?
            %p.matches
              Found #{results.length} possible matches. 
            %ul.results
              - results.each do |r|
                - available =  r[:locations].select {|k,v| v == 'Available'}
                - out = r[:locations].select {|k,v| v == 'Out'}
                %li.result
                  .title.cell= r[:title]
                  - unless available.empty?
                    .available.locations.cell
                      Available at: 
                      %ul
                        - available.each do |branch, status|
                          %li #{branch} 
                  - unless out.empty?
                    .out.locations.cell
                      Out at:
                      %ul
                        - out.each do |branch, status|
                          %li #{branch} 
          - else
            %p.matches No results found :-(
