.choose-library-system
  %h2 Choose your library system
  %p Check the library systems that you're a part of, and we'll search those for books on your to-read list.
  = form_tag :controller => :users, :action => :save_library_systems do
    - LibrarySystem.all.each do |system|
      .check-box-container
        = check_box_tag "systems[#{system.id}]", 1, @user.library_systems.member?(system)
        = label_tag "systems[#{system.id}]", system.name
    = submit_tag "Save"
