= form_for @user do |f|
  .choose-library-system
    %h3 Choose your library system
    %p Check the library systems that you're a part of, and we'll search those for books on your to-read list.
    .available-systems
      - LibrarySystem.all.each do |system|
        .checkbox
          = label_tag "user_systems_#{system.id}" do
            = check_box_tag "user[library_system_ids][]", system.id, @user.library_systems.member?(system), {id: "user_systems_#{system.id}"}
            = system.name
    %h3
      Choose your Goodreads shelves
    %p Check the shelves with books you'd like to check for availability.
    - @user.shelves.each do |shelf|
      .checkbox
        = label_tag "user_shelf_#{shelf}" do
          = check_box_tag "user[active_shelves][]", shelf, @user.active_shelves.member?(shelf), {id: "user_shelf_#{shelf}"}
          = shelf

    .library-systems
      - unless @user.library_systems.empty?
        = render @user.library_systems
    = f.submit "Save"

:javascript
  $(function(){
    new UserForm($('form.edit_user'));
  });
