= form_for @user do |f|
  .choose-library-system
    %h3 Choose your library system
    %p Check the library systems that you're a part of, and we'll search those for books on your to-read list.
    - LibrarySystem.all.each do |system|
      .checkbox
        = label_tag "user_systems_#{system.id}" do
          = check_box_tag "user[library_system_ids][]", system.id, @user.library_systems.member?(system), {id: "user_systems_#{system.id}"}
          = system.name
    %h3
      Choose your Goodreads shelves
    %p Check the shelves with books you'd like to check for availability.
    - @user.shelves.each do |shelf|
      .checkbox
        = label_tag "user_shelf_#{shelf}" do
          = check_box_tag "user[active_shelves][]", shelf, @user.active_shelves.member?(shelf), {id: "user_shelf_#{shelf}"}
          = shelf

    - unless @user.library_systems.empty?
      - @user.library_systems.each do |system|
        %h3
          Preferred branches in the #{system.name}
        %p Check the branches that you'd like to see books from by default.
        - unless system.locations.empty?
          - system.locations.sort_by(&:name).each_slice(system.locations.length / 3).each do |sublist|
            %div.branches-part
              - sublist.each do |location|
                .checkbox
                  = label_tag "user_location_ids_#{location.id}" do
                    = check_box_tag 'user[location_ids][]', location.id, @user.locations.member?(location), {id: "user_location_ids_#{location.id}"}
                    = location.name
                %br
          %br{:style => 'clear:both'}
    = f.submit "Save"
