.book
  = form_tag :method => 'POST', :action => :save_locations do 
    - @user.library_systems.each do |system| 
      %h2= system.name
      - system.locations.each_slice(system.locations.length / 3).each do |sublist|
        %div.branches-part
          - sublist.each do |location|
            = check_box_tag 'locations[]', location.id, @user.locations.member?(location)
            = label_tag location.id, location.name
            %br
      %br{:style => 'clear:both'}
      = submit_tag "Save"
