.book.login
  %h2 Sign Up
  = form_for :user, :method => 'post', :url => signup_url do |f|
    = f.error_messages
    .label-container
      = f.label :email, "Email"
    = f.text_field :email
    .label-container
      = f.label :password, "Password <span>Make this different than your Goodreads password</span>".html_safe
    = f.password_field :password
    .label-container
      = f.label :password_confirmation, "Confirm Password"
    = f.password_field :password_confirmation
    .label-container
      .spacer
        &nbsp;
    = f.submit 'Sign In To Goodreads With OAuth'
