.books{"ng-controller" => "BooksCtrl"}
  .loading{'ng-hide' => 'books.$resolved'}
    .progress.progress-striped.active
      .progress-bar.progress-bar-info{"style"=>"width: 100%"}
        Loading...

  .pending.panel.panel-info{'ng-show' => 'books.$resolved && pendingBookCount > 0'}
    .panel-heading
      Loading New Books
    .panel-body
      %p Our gruff-but-friendly robot army is currently fetching your books. New books will appear below when they're found at your selected libraries. This will take a while the first time, so go grab a beverage and a book!
      .container
        .row
          .col-lg-2.col-sm-3.col-xs-5.text-right {{pendingBookCount}} books to go.
          .col-lg-9.col-sm-7.col-xs-5
            .progress.progress-striped.active
              .progress-bar.progress-bar-info{role: "progressbar", "aria-valuenow" => "{{pendingBookCount}}", "aria-valuemin"=>"0", "aria-valuemax"=>"{{books.length}}", "style"=>"width: {{100 - (pendingBookCount / books.length * 100)}}%"}

  .filter{'ng-show' => 'books.$resolved'}
    = render 'filter_form'


  .book-result{'ng-repeat' => 'book in books | filter:bookFilter'}
    .image.pull-left
      %img{"ng-src" => "{{ book.image_url }}"}
    .data
      %h2.title
        {{ book.title }}
        %span.divider /
        {{ book.author }}
      %table.table.table-condensed
        %tr
          %th Title
          %th Status
          %th Location
          %th Call Number
          %th Synced At
        %tr.copy{"ng-repeat" => "copy in book.copies | filter:copyFilter"}
          %td {{ copy.title }}
          %td {{ copy.status }}
          %td {{ copy.location_name }}
          %td {{ copy.call_number }}
          %td{"am-time-ago" => "copy.last_synced_at"}

:javascript
  Minuteman = {};
  Minuteman.preferredLocations = #{ActiveModel::ArraySerializer.new(@user.locations, each_serializer: LocationSerializer).to_json};
  Minuteman.pusherKey = '#{Pusher.key}';
  Minuteman.bookUpdateChannel = '#{BookNotifier.book_update_channel_name(@user)}';
  Minuteman.pendingBooksChannel = '#{BookNotifier.pending_book_channel_name(@user)}';
  Minuteman.initialPendingBookCount = '#{@user.books.unsynced.count}';
