- if @user.library_systems.empty?
  = render partial: 'users/form'
- elsif @user.books.empty?
  %h2 Thanks for signing up!
  %p Our army of gruff-but-friendly robots is checking your book lists against your library's records. Check back in a few minutes!
- else
  = render @books

  .pagination
    = will_paginate @books

  - if @user.locations.any?
    - elsewhere = @user.books.without_copies_at(@user.locations).with_copies
    - unless elsewhere.empty?
      .no-results
        %h2 Found These Books At Other Locations
        %ul
          - elsewhere.each do |book|
            %li
              = book[:title]
              %span.divider /
              = book[:author]

  - unless @not_found.empty?
    .no-results
      %h2 Didn't Find These Books :-(
      %ul
        - @not_found.each do |book|
          %li
            = book[:title]
            %span.divider /
            = book[:author]
