= render :partial => 'books/books_header'
- @books.each do |book|
  .book.book-result
    - if book.image_url.present?
      .image 
        = image_tag book.image_url
    .data
      %h2 
        = book[:title]
        %span.divider / 
        = book[:author]
      %ul.results
        = render :partial => "book", :locals => {:book => book}
